<!DOCTYPE html>
<html lang="en" ng-app="CollegeManagementApp">
<head>
    <!-- ===== General Confing ===== -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollegeManagement</title>
    <link rel="icon" type="image/png" href="~/img/beca_color.png" />

    <!-- ===== Bootstrap ===== -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- ===== Angular ===== -->
    <script src="~/angular.js/angular.js"></script>

    <!-- ===== DataTables ===== -->
     <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <!-- ===== Fonts ===== -->
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <!-- ===== Personalalizations ===== -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CollegeManagement.styles.css" asp-append-version="true" />


</head>

<body>

    <!--===== HEADER =====-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/beca_color.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    College Management
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administrator
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Courses">Courses</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Teachers">Teachers</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Students">Students</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Teachers Area
                            </a>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="TeachersArea" asp-action="StudentsInSubjects">Students and Grades</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--===== BODY =====-->
    <div class="app-container">
        <main role="main" class="pb-3">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
    </div>


    <!--===== TOAST =====-->
    <div class="toast" data-autohide="true" style="position: absolute; top: 15px; right: 10px; min-width: 200px" id="form-toast">
        <div class="toast-header">
            <strong class="mr-auto toast-title" id="toast-title"></strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <p id="toast-sucess-body"></p>
        </div>
    </div>




    <!--===== GENERAL SCRITPS =====-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--Angular App -->
    <script src="~/src/app/app.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
    <script src="~/js/DataFormats.js" asp-append-version="true"></script>

    <!--Data Tables-->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("modals", required: false)

    <!--===== PERSONALIZATION SCRIPTS ===== -->
    <!--Toast Delay-->
    <script>
        $('#form-toast').toast({
          delay: 5000
        })
    </script>


</body>
</html>
