/*Root Config*/

:root {
    /*===== Default heights/widths =====*/
    --footer-height: 2rem;
    --header-height: 3.5rem;
    /*===== Colors Mode =====*/
    --first-color: #527992;
    --first-color-light: #93B1C3;
    --second-color: #7a5292;
    --yellow-color: #ffd200;
    --white-color: rgb(255 255 255);
    --bg-color: linear-gradient(rgb(82, 121, 146, 0.1),rgb(255, 210, 0, 0.1),rgb(42, 85, 137, 0.1));
}

html {
    position: relative;
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    height: 90vh;
    background-image: var(--bg-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 60px;
    position: relative;
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding: 0 1rem;
}

/*===== HEADER =====*/
.navbar {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/*Avoid Text Decoration on Links*/
a {
    text-decoration: none;
}

/*Active links*/
.activated {
    color: var(--white-color);
}

    .activated::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 32px;
        background-color: var(--white-color);
    }

/*Table Align and Style */
.table > tbody > tr > td {
    vertical-align: middle;
}

/*===== Tables Card =====*/

.table_card {
    background-color: white;
    border-radius: 6px;

    /*Border*/
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

    .table_card a {
        text-decoration: none;
        color: var(--first-color);
    }

        .table_card a:hover {
            text-decoration: none;
            color: var(--yellow-color);
        }


/*===== CARD INFO =====*/

.card__info_white {

    background-color: white;
    margin-top: 0;
    /* shadows and rounded borders */
    border-radius: 6px;
    /*Borders*/
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    height: 150px;
    width: 100%;
}

.card__info_white-header {
    padding: 8px 8px 8px 8px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    font-weight: bolder;
    font-size: 1.0rem;
    background-image: linear-gradient(110deg, var(--first-color),var(--second-color));
    -moz-border-radius: 0px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;

    border-bottom: 1px solid var(--first-color-light);
}

    .card__info_white-header .Brand {
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
    }

        .card__info_white-header .Brand .container {
            width: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
        }

            .card__info_white-header .Brand .container .icon {
                position: relative;
                display: block;
                min-width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: white;
                opacity: 1;
                line-height: 40px;
                text-align: center;
                font-size: 1.3rem;
                color: var(--first-color);
            }

            .card__info_white-header .Brand .container .title {
                color: var(--white-color);
                padding-left: 20px;
                font-size: 1.3rem;
            }

.card__info_white-body {
    padding: 20px 20px 20px 20px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

    .card__info_white-body a {
        text-decoration: none;
        color: var(--first-color);
    }

        .card__info_white-body a:hover {
            text-decoration: none;
            color: var(--second-color);
        }

    .card__info_white-body .IconIntern {
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
    }

        .card__info_white-body .IconIntern .container {
            width: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
        }

            .card__info_white-body .IconIntern .container .icon {
                position: relative;
                display: block;
                font-size: 2rem;
                color: var(--first-color);
            }

            .card__info_white-body .IconIntern .container .title {
                color: var(--first-color);
                padding-left: 20px;
                font-size: 2rem;
            }

                .card__info_white-body .IconIntern .container .title:hover {
                    text-decoration: none;
                    color: var(--second-color);
                }

/*===== BUTTONS =====*/

.btn_add {
    background-image: linear-gradient(110deg, var(--first-color),var(--first-color));
    color: white;
    opacity: 0.9;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    /*Borders*/
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    transition: background-color linear 3s;
    transition-delay: 1s;
}

    .btn_add:hover {
        background-image: linear-gradient(110deg, var(--first-color),var(--second-color));
        text-decoration: none;
        color: white;
    }

    .btn_add i {
        padding-right: 5px;
    }

/*===== FOOTER =====*/

.footer {
    position: fixed;
    text-align: center;
    height: var(--footer-height);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    line-height: var(--footer-height); /* Vertically center the text there */
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    backdrop-filter: blur(6px);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    transition: .5s;
    z-index: 9999;
}

    .footer img {
        width: auto;
        height: 20px;
        bottom: 20px;
        left: 0;
        object-fit: cover;  classe pra deixa a imagem com a proporção correta e não ficar achatada 
    }

.footer__feedback {
    width: 15px;
    height: 15px;
    bottom: 10px;
    display: flex;
    object-fit: cover;
    padding-right: 10px;
    justify-content: center;
    line-height: 15px;
    font-size: 10px;
}

.footer a {
    color: var(--first-color);
}