<h3>Teachers Admin</h3>
<hr />

<div class="col-lg-6 col-md-12 justify-content-center divList" ng-app="CollegeManagementApp" ng-controller="TeachersCtrl" ng-init="GetAllDataTeachers()">

    <!-- Add New Teacher -->
    <button type="button" class="btn btn_add" ng-click="GetInsertTeacher()">
        <i class="fa fa-plus"></i> &nbsp;Add New Teacher
    </button>

    <hr />

    <h4>List of Teachers</h4>


    <div class="panel panel-default">
        <div class="panel-body">

            <table class="table table-bordered table-hover table_card" id="teachersTable">
                <thead class="thead-dark">
                    <tr>

                        <td>
                            <b>Name</b>
                        </td>
                        <td data-type="date">
                            <b>Birthday</b>
                        </td>
                        <td>
                            <b>Salary</b>
                        </td>
                        <td>
                            <b>Options</b>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="teacher in teachers">

                        <td>
                            {{teacher.name}}
                        </td>
                        <td>
                            {{teacher.birthday | date :'mediumDate'}}
                        </td>
                        <td>
                            {{teacher.salary | currency:'€ '}}
                        </td>

                        <td>
                            <a href="#" title="Edit" value="Edit" ng-click="GetUpdateTeacher(teacher)"><i class="fa fa-pencil"></i>&nbsp;Edit</a>&nbsp;|&nbsp;
                            <a href="#" title="Edit" value="Delete" ng-click="GetDeleteTeacher(teacher)"><i class="fa fa-trash"></i>&nbsp;Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <br /><br />

    <!--===== MODAL CRUD =====-->
    <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="crud-modal-teacher">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Add New Teacher</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label">Name:</label>
                        <input type="text" class="form-control" id="inputTeacher" placeholder="Name" ng-model="TeacherName">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Birthday:</label>
                        <input type="date" [ngModel]="dt | date:'dd/MM/yyyy'" class="form-control" id="inputBirthday" placeholder="Birthday" ng-model="TeacherBirthday">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Salary:</label>
                        <input type="text" class="form-control" id="inputSalary" placeholder="Salary" ng-model="TeacherSalary">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="button" id="btnSave-teacher" class="btn btn-primary" value="Submit" ng-click="InsertData()" />
                </div>
            </div>
        </div>
    </div>


    <!--===== MODAL DELETE =====-->
    <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="delete-modal-teacher">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-delete-title">Delete Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to <b style="color:darkred">delete this teacher</b>?
                </div>
                <div class="modal-footer">
                    <input type="button" id="btnDeleteModal-teacher" class="btn btn-danger" ng-click="DeleteTeacher()" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>



<pre>{{ closeResult }}</pre>

@Html.Hidden("TeacherID_")